@model IEnumerable<Project.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Here is all the friend</h2>




@using (Html.BeginForm())
{
    <p>
        
        Name:@Html.TextBox("FriendName")<br />
        <input type="submit" value="Search" />
    </p>
}
@if (@Model.Count() == 0)
{
    <h4>no person has been founded</h4>
}


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
         
            
        </tr>
    }

</table>

@Html.ActionLink("Add Friend", "AddFriend")
